# Local Android keystore artifacts created by CI step or local testing
android.keystore
credentials.json
android-demo.keystore
android-demo.keystore.b64
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
web-build/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment
.env
.env.*
!.env.example

# Firebase logs
firebase-debug.log
firestore-debug.log

# Local database and assets
Terpene_Wheel_Code_Kit.zip
backend/prisma/dev.db
backend/prisma/dev.db-journal

service-account.json
firebase_sa.b64
assets/splash/jars_splash_static.png
backend/dist/

# Do not commit iOS Firebase config (handled via EAS secrets)
GoogleService-Info.plist
GoogleService-Info.plist.b64

# Local bin scripts
bin/


# Expo
.expo
dist/
web-build/